
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  padding:20px 30px;
}
.red{
  border: 1px solid red;
}
.header{
  display: flex;
  justify-content: center;
}
.track{
  border-bottom: 1px solid black;
}
.border1{
  margin-bottom: 30px;
}
.playgound{
  border: 1px solid black;
  background: green;
  
}